<!DOCTYPE html>
<html ng-app="myApp">
<head>
     <title>MEAN Application using Node</title>     
     <link href="css/bootstrap.min.css" rel="stylesheet"> 
    
</head>

<body>
    <div class="container ng-scope" ng-controller="AppCtrl">
      <br/>
      <h1 align="center">MEAN - Employee Directory Application</h1><br/><br/>
      <table class="table">          
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Date of Birth</td>
            <td>Department</td>
            <td>Gender</td>
            <td>Age</td>
          </tr>
        </thead>
          
        <tbody>
                
			              <tr> 
			  <form class="addContactForm" novalidate>
                  <td>
                    <input type="text" class="form-control" ng-model="users.name" required  placeholder="Name" name="name"/>
                  </td>
                  <td>
                    <input type="email" ng-model="users.email" required class="form-control"   name="email"   placeholder="abc@xyz.com"/>
                  </td>
                  <td>
                    <input type="text" ng-model="users.DOB" id="datepicker" class="form-control" required  name="DOB" placeholder="YYYY-MM-DD"/>
                  </td>
                  <td>
                    <input  ng-model="users.department" required class="form-control"   name="department" placeholder="Department"/>
                  </td>
                  <td>
                    <input  ng-model="users.gender" required class="form-control"  name="gender" placeholder="Gender"/>
                  </td>
<!--                   <td>
                    <input type="number"  disabled class="form-control"  name="age"  placeholder="Age"/>
                  </td> -->
			 <td>
                      <button class="btn btn-success btn-md" ng-click="addUsers()"  ng-disabled="addContactForm.$invalid">Add Employee</button>
                      <td><button class="btn btn-success btn-md" ng-click="updateUsers()">Update Employee</button></td>
                  </td>
            
              </form>
			  </tr>
			   <tr ng-repeat="user in userlist">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>               
                <td>{{user.DOB | date:'yyyy-MM-dd'}}</td>
                <td>{{user.department}}</td>
                <td>{{user.gender}}</td>
                <!-- <td>{{calculateAge(user.DOB)}}</td> -->
                <td>
                  <button class="btn btn-danger btn-sm" ng-click="removeUsers(user._id)">Delete</button>&nbsp;&nbsp;
                  <button class="btn btn-primary btn-sm" ng-click="editUsers(user._id)">Edit</button>
                </td>
                
            </tr> 
          </tbody>
          
        </table>  
    </div>
	 <script src="js/angular.min.js"></script>
<script src="js/controller.js"></script>

</body>
    
</html>


