              <form name="addContactForm">
                  <td>
                    <input type="text" class="form-control" ng-model="user.name" required  placeholder="Name" name="name"/>
                  </td>
                  <td>
                    <input type="email" ng-model="user.email" required class="form-control"   name="email"   placeholder="abc@xyz.com"/>
                  </td>
                  <td>
                    <input type="text" ng-model="user.dob" id="datepicker" class="form-control" required  name="DOB" placeholder="YYYY-MM-DD"/>
                  </td>
                  <td>
                    <input  ng-model="user.department" required class="form-control"   name="department" placeholder="Department"/>
                  </td>
                  <td>
                    <input  ng-model="user.gender" required class="form-control"  name="gender" placeholder="Gender"/>
                  </td>
                  <td>
                    <input type="number" ng-model="user.age" disabled class="form-control"  name="age"  placeholder="Age"/>
                  </td>
                  <td>
                      <button class="btn btn-success btn-md" ng-click="addUsers()" ng-disabled="addContactForm.$invalid">Add Employee</button>
                      <td><button class="btn btn-success btn-md" ng-click="updateUsers()">Update Employee</button></td>
                  </td>
            
              </form>